doctype html
html
 head
  link(href='/css/style.css', rel='stylesheet')
  script(src='../js/snap.svg.js')
  title Sample Page
 body
  //- .snap

  script(src='../js/whatever.js')
  //- script(src='../js/util.js')
  //- script(src='../js/main.js')
  
  #cont